
{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "backend",
  "main": "src/index.ts",
  "compatibility_date": "2025-09-17",
  // "compatibility_flags": [
  //   "nodejs_compat"
  // ],
  "vars": {
    "my_db": "YOUR_PRISMA_ACCELERATE_CONNECTION_STRING_HERE",
    "JWT_SECRET": "YOUR_JWT_SECRET_HERE",
    "CLOUDINARY_CLOUD_NAME": "YOUR_CLOUDINARY_CLOUD_NAME_HERE",
    "CLOUDINARY_API_KEY": "YOUR_CLOUDINARY_API_KEY_HERE",
    "CLOUDINARY_API_SECRET": "YOUR_CLOUDINARY_API_SECRET_HERE"
  }
}
